@import url(http://fonts.googleapis.com/css?family=Questrial);

body {
  background-color: #2b303b;
  color: #90A9D2;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  line-height: 16px;
  margin-left: 20%;
  width: 60%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

input,
textarea {
  background-color: #2b303b;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #9db88a;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 0 10px 10px;
  width: 300px;
}

.field {
  margin-bottom: 15px;
}

.todo-items {
  color: #90A9D2;
  font-size: 26px;
  line-height: 40px;
}

p, ol, ul {
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  line-height: 16px;
}

td {
  font-size: 18px;
  line-height: 30px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #9db88a;
  text-decoration: none;
  &:visited {
    color: #9db88a;
  }
  &:hover {
    color: #fff;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #2b303b;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #2b303b;
    color: #90A9D2;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
